{% extends 'mobile/base.html' %}
{% block content %}
<div data-role="header">
    <h1>Active users per service</h1>
    <a href="{% url mobile-index %}" data-direction="reverse" data-iconpos="notext" data-icon="home">Home</a>
</div>

<div data-role="content">
    <h2>Active users per service</h2>
    <ul data-role="listview" data-divider-theme="a">
        {% for service in services %}
            <li>{{ service.name }} <span class="ui-li-count">{{ service.users }}</span></li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
