{% extends 'analytics/mobile/base.html' %}
{% block content %}
<div data-role="page" id="page1">
    <div data-theme="e" data-role="header">
        <h1>
            Aalto Analytics
        </h1>
    </div>
    <div data-role="content">
        <h3>
            {% if active_users %}
                {{ active_users }} active user{{ active_users|pluralize }} in the past hour.
            {% else %}
                No active users in the past hour.
            {% endif %}
        </h3>
        <ul data-role="listview" data-divider-theme="b" data-inset="true">
            <li data-role="list-divider" role="heading">
             Past hour 
            </li>
            <li data-theme="c">
            <a href="{% url analytics-mobile_hot_content %}" data-transition="slide">
                Most read content 
            </a>
            </li>
            <li data-theme="c">
            <a href="{% url analytics-mobile_most_viewed_content %}" data-transition="slide">
                Most viewed content 
            </a>
            </li>
            <li data-theme="">
            <a href="#page1" data-transition="slide">
                Active users per service
            </a>
            </li>
        </ul>
    </div>
</div>
{% endblock %} 
