{% extends 'analytics/mobile/base.html' %}
{% block content %}
<div data-role="page" id="page1">
    <div data-theme="e" data-role="header">
        <h3>
            Aalto Analytics
        </h3>
    </div>
    <div data-role="content">
        <h3>
            5000 users active right now.
        </h3>
        <ul data-role="listview" data-divider-theme="b" data-inset="true">
            <li data-role="list-divider" role="heading">
            Data sets
            </li>
            <li data-theme="c">
            <a href="{% url analytics-mobile_hot_content %}" data-transition="slide">
                Hot content 
            </a>
            </li>
            <li data-theme="c">
            <a href="#page1" data-transition="slide">
                Hot right now
            </a>
            </li>
            <li data-theme="">
            <a href="#page1" data-transition="slide">
                Active users
            </a>
            </li>
        </ul>
    </div>
</div>
{% endblock %} 
