{% extends 'base.html' %}
{% block extra_head %}
    <script type="text/javascript" src="js/aaltoanalytics.js"></script>
{% endblock %}
{% block content %}
<h1>Raw request log</h1> 
<p>{{ pageviews.count }} pageviews logged.</p>
<table class="table table-striped table-bordered" style="margin-top: 20px">
    <tr>
        <th>Timestamp (UTC)</th>
        <th>User ID</th>
        <th>Session ID</th>
        <th>Screen size</th>
    </tr>
    {% for row in pageviews %}
        <tr>
            <td>{{ row.datetime }}</td>
            <td>dknd54gfdicne83 </td>
            <td>3u4fpoei4u32u28 </td>
            <td>{{ row.screen_width }}x{{ row.screen_height }}</td>
        </tr>
    {% endfor %}
</table>
{% endblock %}
