{% extends 'base.html' %}
{% block extra_head %}
<!--Load the AJAX API-->
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">

    // Load the Visualization API and the piechart package.
google.load('visualization', '1.0', {'packages':['corechart']});

// Set a callback to run when the Google Visualization API is loaded.
google.setOnLoadCallback(drawChart);

// Callback that creates and populates a data table,
// instantiates the pie chart, passes in the data and
// draws it.
function drawChart() {

    // Create the data table.
    var data = new google.visualization.DataTable();
    data.addColumn('string', 'Browser');
    data.addColumn('number', 'Users');
    data.addRows([
            {% for b in browsers %}
            ['{{ b.browser_name }}',{{ b.user_count}}],
            {% endfor %}
            ]);

    // Create the data table.
    var data2 = new google.visualization.DataTable();
    data2.addColumn('string', 'Operating System');
    data2.addColumn('number', 'Users');
    data2.addRows([
            {% for b in oses %}
            ['{{ b.operating_system }}',{{ b.user_count}}],
            {% endfor %}
            ]);

    // Set chart options
    var options = {'title':'Browser Marketshare',
        height: 500};

    // Instantiate and draw our chart, passing in some options.
    var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
    chart.draw(data, options);
    var chart2 = new google.visualization.PieChart(document.getElementById('chart_div2'));
    chart2.draw(data2, {'title':'Operating System Marketshare', height: 500});
}
</script>
{% endblock %}
{% block content %}
<div class="row">
<h1 style="text-align: center">Statistics</h1>
</div>

<div class="row">
<div class="span16">
    <div id="chart_div"></div>
</div>
</div>

<div class="row">
<div class="span16">
<div id="chart_div2"></div>
</div>
</div>

{% endblock %}
